* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 40px;
}
/*Index*/

/* .footer {
    margin-top: 100%;
    bottom: 0;
    left: 0;
    background-color: #3e4095;
    width: 100%;
    color: white;
    text-align: center;
    padding: 15px;
}
.navbar {
    position: fixed;
    width: 100%;
}
.navbar ul li a {
    display: inline-block;
    padding: 14px 16px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    cursor: pointer;
}
.navbar ul li a:hover {
    background-color: #fcb32f;
    color: #3e4095;
}
.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3e4095;
} */

/* Index Responsive */
/*@media  and (max-width: 600px) {
    .caja {
        position:relative;
    }
}*/
.grid-layout {
    display: grid;
    background-image: linear-gradient(#3e4095,#fcb32f);
    grid-template-columns: auto auto auto;
    grid-template-rows: 5% 25% 15% 15% 3% ;
    grid-template-areas:
    "navbar"
    "logo"
    "slider"
    "h1"
    "h2 form"
    "footer";
}
.caja {
    text-align: center;
}
.navbar {
    position: absolute;
    width: 100%;
}
.navbar ul li a {
    display: inline-block;
    padding: 14px 16px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    cursor: pointer;
}
.navbar ul li a:hover {
    background-color: #fcb32f;
    color: #3e4095;
}
.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3e4095;
}
.navbar {
    grid-area: navbar;
    grid-column: 1 / span 2;
}
.logo {
    grid-area: logo;
    grid-column: 1 / span 2;
    padding-top: 40px;
}

.c3 {
    grid-column: 1/ span 2;
    margin: 0 auto;
    grid-row: 3;
}
.slider {
    grid-area: slider;
    grid-column: 1/ span 2;
}
.c4 {
    grid-column: 1 / span 2;
    grid-row: 4;
    padding-top: 120px;
}

.c5 {
    grid-area: h2;
    grid-column: 1/ span 2;
    grid-row: 5;
}

.form {
    height: 100%;
    width: 100%;
    padding: 10px;
}
h5 {
    grid-area: 4;
}


.footer {
    grid-area: footer;
    grid-column: 1/ span 2;
    position: absolute;
    background-color: #3e4095;
    width: 100%;
    height: 50px;
    color: white;
    bottom: 0;
    text-align: center;
}

.footer p {
    margin-top: 15px;
}


h1 {
    font-size: 25px;
    animation-duration: 5s;
    animation-name: aparecer;
    animation-iteration-count:unset;
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}








/*.distribucion {
    width: 70%;
    border: solid 5px;
    border-color: #3e4095;
    display: block;
    margin: 0px auto;
}


Productos-servicios*/

.servicios {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 166, 0);
    border: solid #3e4095 1px;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    font-weight: bold;
    font-size: 20px;
}












.container-pys {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    justify-items: center;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}   

.container-pys div {
    border: solid 1px;
    font-size: 20px;
    padding: 10px;
    background-color: #3e4095;
    color: #fcb32f;
}
.container-imagenes {
    display: flex;
    justify-content: center;
}
.frenosAuto img{
    width: 200px;
    height: 200px;
}
.distribucionAuto img{
    width: 200px;
    height: 200px;
}

/*Precios - Tabla*/

table {
    width: 1000px;
    border-collapse: collapse;
    margin: 0 auto;
}

thead {
    background-color:#3e4095;
    color: #fcb32f
}

th,td {
    border: solid 1px black;
    padding: 5px;
}



