.footer {
    position: absolute;
    background-color: #3e4095;
    width: 100%;
    height: 50px;
    color: white;
    bottom: auto;
    text-align: center;
        p {
            margin-top: 15px;
        }
}

